body{
  transition: all 1s ease;
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  /* overflow: hidden; */
}

::-webkit-scrollbar { 
  display: none; 
}

.container{
  width: 100vw;
	height: 100vh;
}

::-webkit-scrollbar {
  display: none;
  }

.container-intro{
  position: absolute;
  left: 48vw;
  transform: translate(-50%,-50%);
  color: #fff;
}


.container-intro2{
  position: absolute;
  left: 48vw;
  opacity: 0;
  transform: translate(-50%,-50%);
  font-weight: lighter;
  color: #fff;
}

.panel{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow-y: scroll;
    padding-right: 17px; 
}

.panel.green{
  background: green;
  z-index: 3;
}

.panel.turquoise{
  background: turquoise;
}

.panel.blue img#bg{
  width:100%;
  position: fixed;
  top:0;
  left:0;
}

.panel.blue img#light{
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom:0;
  left:0;
}

.panel.blue img#zelight{
  width: 100%;
  opacity: 0.3;
  position: absolute;
  z-index: 2;
  bottom:0;
  left:0;
}



.panel.blue2{
  background: purple;
}

.panel.bordeaux{
  background: yellow;
}
