.toggle-icon {
	display: block;
	position: relative;
	width: 100%;
	margin: -2.2em auto 0 0.2em;
	-webkit-transition: margin 600ms;
	-moz-transition: margin 600ms;
	transition: margin 600ms;
	cursor: pointer;
}

#nav-container{
    position: absolute;
    top:20%;
    left:10%;
    margin:-3em;
    transform: scale(0.8);
    z-index: 5;
}

#nav-container:hover{
    cursor: pointer;
}

.toggle-icon .bar {
	display: block;
	width: 3.8em;
	height: 0.2em;
	margin: 0.9em;
	border-right: 2.8em solid #fff;
	border-left: 0.6em solid #d6d6d6;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
	-moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
	transition-property: transform, margin, border-right-color, box-shadow;
	-webkit-transition-duration: 600ms;
	-moz-transition-duration: 600ms;
	transition-duration: 600ms;
}
	.toggle-icon .bar:nth-of-type(1) {
		-webkit-transition: opacity 300ms;
		-moz-transition: opacity 300ms;
		transition: opacity 300ms;
	}
	.toggle-icon .bar:nth-of-type(2) {
		-webkit-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
		transform: rotate(-180deg);
    }
    
    .toggle-icon p{
        padding-left: 125px;
        font-size: 2em;
        margin-top: -20px;
    }

/*pushed*/
.pushed .toggle-icon {
	margin: -3.2em 0 0 0.7em;
}

	.pushed .bar:nth-of-type(1) {
		opacity: 0;
	}

	.pushed .bar:nth-of-type(2) {
		margin-left: 1.4em;
		-webkit-transform: rotate(-137deg) translateY(-1.5em);
		-moz-transform: rotate(-137deg) translateY(-1.5em);
		-ms-transform: rotate(-137deg) translateY(-1.5em);
		-o-transform: rotate(-137deg) translateY(-1.5em);
		transform: rotate(-137deg) translateY(-1.5em);
	}

	.pushed .bar:nth-of-type(3) {
		margin-left: 0.5em;
		-webkit-transform: rotate(-42deg);
		-moz-transform: rotate(-42deg);
		-ms-transform: rotate(-42deg);
		-o-transform: rotate(-42deg);
		transform: rotate(-42deg);
	}


.pushed .toggle-icon:hover .bar:nth-of-type(2) {
	border-right-color: #e9b8b9;
	box-shadow: 0.4em 0 0.6em 0.1em rgba(205,40,44,0.75);
}
.pushed .toggle-icon:hover .bar:nth-of-type(3) {
	border-right-color: #ddf1da;
	box-shadow: 0.4em 0 0.6em 0.1em rgba(83,228,68,0.65);
}

.btn {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: 6px;
    display: inline;
    width: 250px;
    margin-bottom: 100px;
    z-index: 99;
  }
  @media (min-width: 400px) {
    .btn {
      display: inline-block;
      margin-right: 2.5em;
    }
    .btn:nth-of-type(even) {
      margin-right: 0;
    }
  }
  @media (min-width: 600px) {
    .btn:nth-of-type(even) {
      margin-right: 2.5em;
    }
    .btn:nth-of-type(5) {
      margin-right: 0;
    }
  }
  .btn:hover {
    text-decoration: none;
  }
  .btn-5 {
    border: 0px solid;
    padding: 15px !important;
    -webkit-box-shadow: inset 0 0 40px rgba(255, 255, 255, 0);
            box-shadow: inset 0 0 40px rgba(255, 255, 255, 0);
    display: inline;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    color: #b8a3a8;
  }
  
  .btn-5:hover {
    border: 1px solid;
    -webkit-box-shadow: inset 0 0 40px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.2);
            box-shadow: inset 0 0 40px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
    color: #fff;
    border-radius: 0;
  }

  p {
    color: rgb(160, 160, 160);
    font-size: 12px;
    font-weight: bolder;
    display: inline;
  }
  @media (min-width: 600px) {
    p {
      left: 50%;
      position: absolute;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      top: 90%;
    }
  }
  @media (max-height: 500px) {
    p {
      left: 0;
      position: relative;
      top: 0;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  p a {
    background: rgba(255, 255, 255, 0);
    display: inline;
    border-bottom: 1px solid;
    padding: 40px;
    color: rgb(160, 160, 160);
    text-decoration: none;
  }
  p a:hover {
    background: white;
    color: #E1332D;
  }

  .github img{
    width: 48px;
    vertical-align: -16px;
    display: inline;
  }
  
  .github{
    font-family: 'Slim Joe', sans-serif;
    background: none;
    /* border: 1px solid #eee; */
    margin:40px;
    padding:15px;
    display: inline;
    padding: 5px;
  }
  
  .github p{
    display: inline;
    vertical-align: 0px;
    padding: 200px !important;
  }
  
  .no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/Preloader_1.gif') center no-repeat #fff;
}